.innerMain {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainDiv {
    display: flex;
    gap: 450px;
    justify-content: center;
    text-align: center;
}

.mainDiv>div>ul>li {
    font-size: .9rem;
}

  .link:hover {
    background-color: #ffffff90;
    border-radius: 5px;
  }

@media (max-width: 660px) {
    .mainDiv {
        gap: 100px;
    }
}

.Tlink {
    border-radius: 4px;
    color: #33186b;
}

.Tlink:link {
    background-color: #F0ECE5;
    text-decoration: none;
}



.Flink {
    border-radius: 4px;
    color: #00000080;
}

.Flink:link {
    background-color: #F0ECE5;
    text-decoration: none;
}

.copyright {
    display: flex;
    padding: 50px 0 20px 0;
    align-items: center;
    justify-content: center;
}