.topDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
}

.slideDiv {
    display: flex;
    width: 100%;
}

.slideButton {
    width: 50%;
}

.slideDisplay {
    background-color: #ffffff50;
    width: 50%;
    height: 250px;
    border-radius: 10px;
    border: solid 2px;
    background-repeat: no-repeat;
    background-size: 150px 150px;
    background-position: center;
    transition: .2s;
    opacity: .8;
}

.slideDisplay:hover {
    height: 260px;
    margin: -5px 0;
    opacity: 1;
}

@media (max-width: 865px) {
    .slideDiv {
        justify-content: center;
    }
    .slideDisplay {
        width: 45%;
        height: 200px;
        background-size: 100px 100px;
    }

    .slideDisplay:hover {
        height: 210px;
    }
}

@media (max-width: 660px) {
    .topDiv{
        align-items: center;
        text-align: center;
    }
    .slideDiv{
        flex-direction: column-reverse;
        align-items: center;
    }
    .slideButton{
        width: 100%;
    }
    .slideDisplay{
        width: 60%;
}
}
@media (max-width: 500px) {
    .slideDisplay{
       width: 80%;
        height: 150px;
        background-size: 80px 80px;
    }
    .slideDisplay:hover {
        height: 160px;
    }
}