@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  min-width: 360px;
  scroll-behavior: smooth;
}

body {
  background-color: #F0ECE5;
  color: #000000aa;
  width: 100%;
}

.dark body {
  background-color: rgb(17 24 39);
  color: #ffffffdd;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.20rem;
  margin: 0;
  color: #33186B;
}

.dark h1 {
  color: #7fc7d9;
}

@media (max-width: 660px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
  }
}

h2 {
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.05rem;
  margin: 0;
  color: #33186B;
}

.dark h2 {
  color: #7fc7d9;
}

p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/* Theme Switch */
#outerLogo {
  background-color: #7FC7D9;
}

/* switch dark */
.dark #outerLogo {
  background-color: #33186B;
  width: 45px;
  height: 45px;
  border-radius: 5px;
}

.dark #innerLogo {
  background-color: rgb(17 24 39);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media (max-width: 660px) {
  .dark #outerLogo {
    
    width: 35px;
    height: 35px;
    
  }
  
  .dark #innerLogo {
    width: 30px;
    height: 30px;
  }
}

/* switch dark */
/* Theme Switch */

/* Navbar Section */
/* navbar dark */
.dark #active {
  color: #7FC7D9;
}

.dark #active:link {
  background-color: rgb(17 24 39);
}


.dark #active:hover {
  background-color: #33186B;
}




.dark #notActive {
  color: #ffffff80;
}

.dark #notActive:link {
  background-color: rgb(17 24 39);
}


.dark #notActive:hover {
  background-color: #33186B;
}

/* navbar dark */
/* Navbar Section */

/* profile picture */
.dark #heroPic {
  border: 5px solid #7FC7D9;
  border-radius: 50%;
}

/* profile picture */

/* link icon  */

#faIcon {
  padding: 0 5px 0 0;
  font-size: 2rem;
  color: #00000060;
}

#faIcon:hover {
  color: #33186B;
}

/* link icon dark */
.dark #faIcon {
  color: #ffffff70;
}

.dark #faIcon:hover {
  color: #7FC7D9;
}

/* link icon dark */
/* link icon  */

/* Hey dark */
.dark #hey {
  color: #7FC7D9;
}

.dark #name{
  color: #ffffff;
}

/* Hey dark */

#innerMain {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}


/* dark p */
.dark #topP {
  color: #ffffff90;
}

/* dark p */

/* dark link */
.dark #activeLink {
  color: #7FC7D9;
}

.dark #activeLink:link {
  background-color: rgb(17 24 39);
}

.dark #notActiveLink {
  color: #ffffff80;
}

.dark #notActiveLink:link {
  background-color: rgb(17 24 39);
}


#darkLink {
  color: #00000080;
}

.dark #darkLink {
  color: #7fbcd9;
}

.dark #darkLink:hover {
  color: #ffffffcc;
  padding: 0;
  background-color: rgb(17 24 39);
}



/* dark link */