.topDiv>h1{
  padding: 20px 0 20px 0;
  
}

.secondDiv {
  min-width: 300px
}

.secondDiv>h2{
  padding: 40px 0 20px 0;
}

.secondDiv>p{
  padding-top: 8px;
}

.secondDiv>ul{
  padding-top: 5px;
  list-style-type: disc;
}
.secondDiv>ul>li{
  margin-left: 20px;
  padding-top: 10px;
}

.link  {
  color: #33186B;
  text-decoration: underline;
}

.link:hover {
  background-color: #ffffff90;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}

.link::after {
  color: #000000ee;
}

@media (max-width: 660px) {
  .topDiv>h1{
    padding: 0 0 20px 0;
  }
  
}


