.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topDiv>h1 {
  padding: 20px 0 20px 0;

}

.secondDiv {
  min-width: 300px
}

.secondDiv>h2 {
  padding: 40px 0 20px 0;
}

.secondDiv>p {
  padding-top: 8px;
}

.secondDiv>ul {
  padding-top: 5px;
  list-style-type: disc;
}

.secondDiv>ul>li {
  margin-left: 20px;
  padding-top: 10px;
}

.link {
  color: #33186B;
  text-decoration: underline;
}

.link:hover {
  background-color: #ffffff90;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}

.link::after {
  color: #000000ee;
}

@media (max-width: 660px) {
  .topDiv>h1 {
    padding: 0 0 20px 0;
  }

}


/* RESUME PAGE */
.resumePage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resume {
  display: flex;
  background-color: #ffffff50;
  margin: 20px 0 20px 0;
  padding: 20px 0 20px 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.resume h1 {
  font-size: 2rem;
  letter-spacing: -1.5px;
}

.resume h3 {
  font-size: 1.25rem;
}

.resume h4 {
  font-family: var(--font-teko);
  font-size: 20px;
  font-weight: 500;
}

.aboutMe {
  display: flex;
  max-width: 700px;
  padding: 10px 0 0 0;
  align-items: flex-start;
}

.info {
  margin-left: 100px;
}



.aboutMe>div>ul>li {
  list-style-type: disc;
  margin-left: 70px;
}

@media (max-width: 660px) {
  .info {
    margin-left: 20px;
  }

  .aboutMe>div>ul>li {
    margin-left: 35px;
  }
}

.summary {
  display: flex;
  padding: 20px 0 0 0;
  max-width: 700px;
  justify-content: center;
}

.skillSection {
  display: flex;
  max-width: 700px;
  align-items: flex-start;
  flex-direction: column;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  padding-top: 10px;
  padding-bottom: 5px;
}

.skillSummary {
  padding: 0 0 20px 0;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.langSummary {
  padding: 0 0 20px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.skillBox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.skillBox>img {
  height: 50px;
  width: 50px;
}



@media (max-width: 500px) {
  .resume {
    text-align: center;
  }

  .aboutMe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .aboutMe>div>ul>li {
    list-style-type: none;
    margin: 0;
  }

  .pic {
    border-radius: 40%;
    height: 100px;
    width: 100px;
  }

  .skillSection {
    flex-direction: column;
    align-items: center;
  }

  .skill {
    flex-direction: row;
  }

  .skillSummary {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .skillBox {
    flex-direction: column;
  }


  .langSummary {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}